main {
	margin-top: 21px;
	padding-bottom: 50px;
}

.accordion {
	max-width: 1200px;
	margin: auto;
	opacity: 1;
}

.card {
	background-color: rgba(172, 167, 167, 0.1);
}

#card-body1:after {
	content: '';
	background-image: url('../images/activities/pumpkins.jpg');
	opacity: 0.9;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	background-size: cover;
}

#card-body2:after {
	content: '';
	background-image: url('../images/activities/treats.jpeg');
	opacity: 0.7;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	background-size: cover;
}

#card-body3:after {
	content: '';
	background-image: url('../images/activities/apples.jpg');
	opacity: 0.7;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	background-size: cover;
}

#card-body4:after {
	content: '';
	background-image: url('../images/activities/forest.jpg');
	opacity: 0.7;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	background-size: cover;
}

#card-body5:after {
	content: '';
	background-image: url('../images/activities/pumpkin stomp.jpg');
	opacity: 0.7;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

h4 {
	color: rgb(255, 255, 255);
	margin-bottom: 0;
	text-decoration-color: rgb(255, 255, 255);
}

.btn {
	background-color: rgba(255, 253, 253, 0.3);
	border-color: rgb(255, 255, 255);
	background: none;
	padding-right: 2rem;
	position: relative;
	text-shadow: rgb(0, 0, 0) 1px 1px 6px;
}

.btn:hover {
	background: none;
	text-decoration: none;
}

.btn::after {
	font-size: 2rem;
	right: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding-right: 5px;
	padding-bottom: 5px;
}

.btn.collapsed::after {
	content: '+';
}

.btn:not(.collapsed)::after {
	content: '-';
}

.card-header:hover {
	text-decoration: none;
}

p {
	color: rgb(0, 204, 255);
	font-size: 28px;
	text-shadow: rgb(0, 0, 0) 1px 1px 6px;
	font-family: 'Mali', cursive;
}
