
h2 {
  text-align: center;
  margin:40px 32px;
}

.books {
  padding: 40px;
}

.card {
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 28px;
}

.card h3 {
  font-size: 20px;
  color: #263238;
}

.card a, .card p {
  color: #263238;
  font-size: 16px;
}