
h2 {
  text-align: center;
  margin:40px 32px;
}

.row{
	margin-top: 50px;
	}

.books {
	 padding: 40px;
};

.card {
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 28px;
}

.card img{
	height : 400px;
	width: 233px;
	
}
.card h3 {
  font-size: 15px;
  color: #263238;
}

.card a, .card p {
  color: #263238;
  font-size: 16px;
}