body{
    overflow: hidden;
    margin-top: 45px;
}

.highscoreInfo{
    text-align: center;
    background-color: #343a40cc;
    padding-right: 30px;
    padding-top:10px;
    height: 67vh;
    margin-top: 35px;
}

.description{
    margin-top:150px;
}