body{
    overflow: hidden;
}

#myFoot{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
}

.highscoreInfo{
    text-align: center;
    background-color: #343a40cc;
    padding-right: 30px;
    padding-top:10px;
    height: 67vh
}

.description{
    margin-top:150px;
}