body {
    background-color: #1d1d1d !important;
    font-family: "Asap", sans-serif;
    color: #989898;
    margin: 10px;
    font-size: 16px;
}

#demo {
    height: 100%;
    position: relative;
    overflow: hidden;
}


.green {
    background-color: #6fb936;
}

.thumb {
    margin-bottom: 20px;
}

.page-top {
    margin-top: 65px;
}


img.zoom {
    width: 250px;
    height: 200px;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}


.transition {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.modal-header {

    border-bottom: none;
}

.modal-title {
    color: #000;
}

.modal-footer {
    display: none;
}

#halloweenCostumes {
    text-align: center;
    color: #F75F1C;
    font-family: 'Indie Flower', cursive;
    font-size: 60px;
    margin-top: 20px;
}