#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
   margin:0 auto;
    padding:0 auto;
  background:url("../images/Spinner-1.6s-200px.gif") no-repeat center center black;
}
body {
    background-color: darkslategray;

    /* sticky footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
  /* sticky footer */
  flex: 1;
}

#fact{
    color: white;
    font-family: 'Caveat', cursive;
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 3rem;
}

.factdata{
    margin-top: 5em;
    margin-bottom: 6em;
}
<<<<<<< HEAD

.btn-fact {
    text-align: center; 
    text-transform: uppercase;
    font-family: 'Caveat', cursive;
    background-color: #f9a339; 
    font-size: 2rem;
}
=======
>>>>>>> 1c36b0bd643c4f9549da7f230a4a44fb8a86f83b
