/* GLOBAL STYLES
-------------------------------------------------- */

/* Padding below the footer and lighter body text */

body {
    color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

#myCarousel {
    width: 100% !important;
}

/* Carousel base class */
.movieCarousel {

}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    background-color: #777;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/*.movieListContainer {
    margin-top: 5rem;
}*/

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;

}

.marketing .col-lg-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.randMovieDiv {
    border-top: 3px dotted rgb(175, 105, 105);
    border-bottom: 3px dotted rgb(175, 105, 105);
    box-shadow: inset 0 -1px 0 0 #000, inset 0 1px 0 0 #000, 0 1px 0 0 #000,
    0 -1px 0 0 #000;
    margin-bottom: 1px;
}


.card {
    transition-timing-function: ease;
    transition: 1s;
}
.card:hover {
    transform: scale(1.05);
}


#movieTitle {
    color: rgba(145, 45, 145, 0.74);
    text-align: center;
    margin-bottom: 26px;
}

#randomMovie {
    width: 40%;
    height: 40%;
    margin: auto;
}

#movieRow {
    margin-bottom: 2rem;
}

.active-purple-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #ce93d8;
    box-shadow: 0 0 0 1px #ce93d8;
}

.scrollbar {
  overflow:scroll;
  border:5px solid white;
  height:500px;
}


