body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  overflow-x: hidden;
}

h1 {
  position: relative;
  color: #fff;
  opacity: 0;
  transition: .8s ease-in-out;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


#register {
  background: #fff;
  position: relative;
  width: 80%;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  transition: transform .1s ease-in-out;
  border-radius: 10px;
}

#register.close {
  width: 0;
  padding: 0;
  overflow: hidden;
  transition: .8s ease-in-out;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0);
}

#forwardButton {
  position: absolute;
  right: 20px;
  top: 30px;
  font-size: 40px;
  color: #fbc02d;
  float: right;
  cursor: pointer;
  z-index: 20
}

#previousButton {
  position: absolute;
  font-size: 18px;
  left: 30px;
  /* same as padding on container */
  top: 12px;
  z-index: 20;
  color: #9e9e9e;
  float: right;
  cursor: pointer;
}

#previousButton:hover {
  color: #c49000
}

#forwardButton:hover {
  color: #c49000
}

.wrong #forwardButton {
  color: #ff2d26
}

.close #forwardButton,
.close #previousButton {
  color: #fff
}

#inputContainer {
  position: relative;
  padding: 30px 20px 20px 20px;
  margin: 10px 60px 10px 10px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

#inputContainer input {
  position: relative;
  width: 100%;
  border: none;
  font-size: 20px;
  font-weight: bold;
  outline: 0;
  background: transparent;
  box-shadow: none;
  font-family: 'Noto Sans', sans-serif;
}

#inputLabel {
  position: absolute;
  pointer-events: none;
  top: 32px;
  /* same as container padding + margin */
  left: 20px;
  /* same as container padding */
  font-size: 20px;
  font-weight: bold;
  transition: .2s ease-in-out;
}

#inputContainer input:valid+#inputLabel {
  top: 1px;
  left: 42px;
  /* space for previous arrow */
  margin-left: 0 !important;
  font-size: 15px;
  font-weight: bold;
  color: #9e9e9e;
}

#inputProgress {
  border-bottom: 3px solid #fbc02d;
  width: 0;
  transition: width .6s ease-in-out;
}

.wrong #inputProgress {
  border-color: #ff2d26;
}

@media (max-width: 420px) {
  #forwardButton {
    right: 10px
  }

  #previousButton {
    left: 10px
  }

  #inputLabel {
    left: 0
  }

  #inputContainer {
    padding-left: 0;
    margin-right: 20px
  }
}

#info-div {
  color: #000000;
}