/*.recipes {
    background-image: linear-gradient(rgba(250, 250, 250, 0.5), rgba(250, 255, 255, 0.158)), url('../images/recipeback.jpeg');
    background-size: cover;
    position: relative; 
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}*/

.icon {
    overflow: hidden;
    position: fixed;
}
.food-icon {
    right:0;
    top: 3;
    width: 200px;
    height: 100px;
    padding:10px,100px,0px,5px;
}
.drink-icon {
    right:0;
    top: 10;
    width:100px;
}
.menu-img:hover{
    transform: scale(1.1);
    transition-duration: 1s;
}

/*.food-icon {
    right:0;
    top: 5;
    width: 150px;
    height: 120px;
    /*border: 3px solid blue;*/
    padding-right:100px;
}*/

.menu{
    display: flex;
    flex-flow:column wrap;

}



/*.navbar{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}*/

.heading {
    font-size: 3em;
    color: white;
    padding-top: 45px;
    background-color: rgb(0, 0, 0, 0.4);
    max-width: 450px;
    margin: auto;
}
.heading:hover{
    color:yellow;
    transform: scale(1.2)
}

.tc {
    text-align: center;
    margin-top: 50px;
}

.center {
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
}

/*.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}*/

.col-md {
    background-color: rgb(0, 0, 0, 0.4);
}

h3,p,#step {
    color: rgb(245, 163, 173);
    font-family: 'Kalam', cursive,'Chakra Petch', sans-ser;
}


.wrapper {
    text-align: center;
}

@media screen and (min-width: 30em) {
    .pa4-ns {
        padding: 2rem;
    }
}

.img-resize {
    height: 400px;
    width: 525px;
}

