.rounded-circle-div{
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
	width: 140px;
	height: 140px;
	margin-right: auto;
	margin-left: auto;
}