.rounded-circle-div{
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
	width: 140px;
	height: 140px;
	margin-right: auto;
	margin-left: auto;
}

video {
	height: 100%;
	width: 100%;
	object-fit: cover;
	pointer-events: none;
}

/* Improve Navbar */
.navbar-nav {
	width: 70%;
	margin: 0px -5rem 0 auto !important;
	text-align: center;
	justify-content: center;
	grid-template-columns: repeat(5, 1fr);
}